<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eshop.jinxiaocun">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 扫描 -->
    <uses-permission android:name="android.permission.SERIAL_PORT" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <!-- Nfc -->
    <uses-permission android:name="android.permission.NFC" /> <!-- 打印 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".base.view.Application"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/nfc_tech_filter" />

        <activity android:name=".main.view.MainActivity" />
        <activity
            android:name=".pifaxiaoshou.view.XiaoShouDanListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pifaxiaoshou.view.XiaoShouTuiHuoListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pifaxiaoshou.view.PiFaXiaoshouDanScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SystemSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pifaxiaoshou.view.XiaoShouDanTabListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".lingshou.view.LingShouScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".lingshou.view.LingShouCreatAtivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".lingshou.view.GetSellBillActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".piandian.view.PandianListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".piandian.view.PandianCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".piandian.view.PandianPihaoListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".base.view.QreShanpingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".piandian.view.SelectPandianTypeDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".piandian.view.SelectPandianFanweiDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".piandian.view.PandianPihaoCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".widget.ModifyCountDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".widget.ZheKouDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".piandian.view.PandianScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".widget.ModifyGoodsPiciDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".widget.MoneyDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".stock.view.StockCheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".stock.view.GoodDetailCheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pifaxiaoshou.view.PifaOrderListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pifaxiaoshou.view.PifaOrderScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".othermodel.view.SelectCustomerListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".othermodel.view.SelectPiciInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".piandian.view.SelectPandianGoodsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".piandian.view.PandianManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pifaxiaoshou.view.PifaManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pifaxiaoshou.view.PifaChukuListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pifaxiaoshou.view.PifaChukuScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pifaxiaoshou.view.PifaTuihuoListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".pifaxiaoshou.view.PifaTuihuoScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".caigou.view.CaigouManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".caigou.view.CaigouOrderListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".caigou.view.CaigouOrderScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".othermodel.view.SelectProviderListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".othermodel.view.SelectWarehouseListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".caigou.view.CaigouRuCangListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".caigou.view.CaigouRucangScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".peisong.view.PeisongManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".peisong.view.PeisongRukuListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".peisong.view.PeisongRukuScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".peisong.view.PeisongChukuListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".peisong.view.PeisongChukuScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".peisong.view.YaohuoOrderListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".peisong.view.YaohuoOrderScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".zjPrinter.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".widget.DanPinGaiJiaDialog"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".widget.PassWordDialog"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".widget.PiChiDialog"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".widget.DanPinZheKouDialog"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".widget.DanPinZheKouCreatDialog"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".widget.SaleManDialog"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".peisong.view.CiteOrderListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".piandian.view.CheckNoPandianGoodsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".peisong.view.ModifyGoodsInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".widget.ModifyPriceDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".widget.SelectPayDialog"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".widget.ListviewDialog"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name="com.zxing.android.CaptureActivity" />
        <activity android:name=".lingshou.view.VipPayActivity" />
        <activity android:name=".lingshou.view.PayActivity" />
        <activity
            android:name=".widget.InputRemarksDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".bluetoothprinter.view.SettingBluetoothActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".widget.ModifyGoodsPriceDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".huiyuan.view.HuiyuanManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".huiyuan.view.AddMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".huiyuan.view.MemberCheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".lingshou.view.SaveMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                  
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TAG_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".huiyuan.view.MemberRechargeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".huiyuan.view.ExpenseCheckActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".huiyuan.view.IntegralSubtractActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".huiyuan.view.IntegralExchangeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".huiyuan.view.IntegralExchangeGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".jichi.JichiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".jichi.JichiChaxunActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".jichi.JichiMenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <receiver
            android:name=".lingshou.view.LingShouCreatAtivity$FinishReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".zjPrinter.PrinterSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".zjPrinter.PrintPreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".zjPrinter.LingShouPrintSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

    </application>

</manifest>